name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        pip install flet

    - name: Setup Flutter (Flet needs this)
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'

    - name: Build APK
      run: |
        flet build apk jsqi.py --verbose

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: my-app-release
        path: build/apk/app-release.apk
